<div class="page-container-custom">
    <div class="description-custom row">
        <div class="col-lg-3 ">
            <img src="../assets/uniTeachingLogo1.jpg" class="rounded-circle ">
        </div>
        <div class="col-lg-9 title-custom d-flex ">
            <blockquote class="blockquote border-0 p-0">
                <p class="lead "> <i> <fa-icon [icon]="faQuoteLeft" class=""></fa-icon> Teaching is the one profession
                        that creates all other professions! </i></p>
                <p class="description-bio-custom">
                    I have a genuine passion for teaching, as I believe it plays a fundamental role in shaping the
                    future.
                    Sharing what I know and helping others grow is both a responsibility and a privilege that I deeply
                    value.
                </p>
            </blockquote>
        </div>
        <div class="col-lg-3 title-custom">
            <h1>
                Teaching experience
            </h1>
        </div>
        <div class="col-lg-9 title-custom">
            <div class="paragraph-intro">
                Alongside my PhD, I had the opportunity to contribute to university teaching at the <a
                    href="https://www.univ-lille.fr" target="_blank" rel="noopener noreferrer">University of Lille</a>.
                Over two academic years, I worked as a part-time instructor, supporting both introductory and advanced
                computer science courses.
            </div>
            <ul>
                <li>
                    <b>Role:</b> University teaching assistant.
                </li>
                <li>
                    <b>Responsibilities:</b>
                    I designed and prepared practical sessions (TD/TP), guided students during hands-on exercises, and
                    supported them in resolving technical issues using tools such as
                    <a href="https://github.com/" target="_blank" rel="noopener noreferrer">GitHub</a>,
                    <a href="https://www.jetbrains.com/idea/" target="_blank" rel="noopener noreferrer">IntelliJ
                        IDEA</a>, and other development environments.
                    I also participated in grading assignments, evaluating exams, and contributing to faculty meetings
                    focused on course planning and improvements.
                </li>
                <li>
                    <b>Jan 2023 – May 2023:</b> Taught "Algorithms and Programming" to first-year students using Python
                    language.
                </li>
                <li>
                    <b>Jan 2023 – May 2024:</b> Taught "Software Engineering" to third-year students using Java
                    language.
                </li>
            </ul>
        </div>
    </div>
</div>