/*  .toolbar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  } 

  .toolbar-container mat-toolbar {
    padding-left: 10%;
    padding-right: 10%;
    background-color: darkblue;
  }
  
  @media screen and (max-width: 600px) {
    .toolbar-container {
      flex-direction: column;
      align-items: flex-start; 
    }
  } */


  .nav-bar-custom {
    margin-left: 20%;
    margin-right: 20%;  
  }

  .d-flex-custom { 
    margin-left: 20%;
  }

  .bg-body-custom {
    background-color: #0b4d45;
  }
 

  .social-media-icon-custom {
    font-size: 2em;
    margin-right:10px;
    color:white;
  }


  @media (max-width: 991px) {
    /* CSS rules for screens with a width less than 991 pixels */
    .nav-bar-custom {
      margin-left: 0%;
      margin-right: 0%;  
    }
    .d-flex-custom {
      margin-left: 0%;
    }

    .social-media-icon-custom {
      font-size: 1.5em; 
    }

  }

 