/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: sans-serif; }


.page-container-custom {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
  }

  a {
    color: #007171;
  }
  
  @media (max-width: 991px) {
    /* CSS rules for screens with a width less than 991 pixels */
    .page-container-custom {
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 2%;
        font-size: 13px;
    }
  }