<div class="page-container-custom" >
  
  <!-- <div>
    <div class="d-flex align-items-center">
      <div>
        <img src="../assets/myImage1.jpeg" class="rounded-circle ">
      </div> 
      <div class = "padding-text-custom">
        <blockquote class="blockquote border-0 p-0">
          <p class="font-italic lead">  <fa-icon [icon]="faQuoteLeft" class=""></fa-icon>  Curiosity and a positive attitude can take you places! </p>
         <footer class="blockquote-footer">Someone famous in
              <cite title="Source Title">Source Title</cite>
          </footer> 
      </blockquote>
      </div>
      
    </div>
  </div> -->
  
<div class="description-custom row">
 

  <div class="col-lg-3 ">
    <img src="../assets/myImage2.jpeg" class="rounded-circle ">
  </div> 
  <div  class="col-lg-9 title-custom d-flex ">
    <blockquote class="blockquote border-0 p-0">
      <p class="lead "> <i> <fa-icon [icon]="faQuoteLeft" class=""></fa-icon> Curiosity and a positive attitude can take you places! </i></p>
      <p class="description-bio-custom">
        Hey there! I'm <b>Aless HOSRY</b>, an ambitious person that loves learning and exploring new things.  
        Feel free to browse through my website to learn more about my professional journey, explore my portfolio, and connect with me on social media. <br>
        Let's embark on this exciting journey together and create something meaningful !
      </p>
      <!-- I am a PhD candidate at the <a href="https://www.univ-lille.fr" target="_blank">University of Lille in France</a>.  -->
      <!-- This exciting venture allows me to combine my passion for teaching. 
      I'm constantly seeking new challenges and opportunities to make a positive impact for my students. -->

      <!-- <footer class="blockquote-footer">Someone famous in
          <cite title="Source Title">Source Title</cite>
      </footer> -->
  </blockquote>
  </div>

  <!-- <div class="col-lg-3 title-custom">
    <h1 >
      Who am I ?
    </h1>
  </div>
  <div   class="col-lg-9 title-custom">
    Hey there! I'm Aless Hosry, an ambitious person that loves learning and exploring new things.  
    I am a PhD candidate at the <a href="https://www.univ-lille.fr" target="_blank">University of Lille in France</a>. 
    This exciting venture allows me to combine my passion for teaching. 
    I'm constantly seeking new challenges and opportunities to make a positive impact for my students.
  </div>  -->

  <div class="col-lg-3 title-custom">
    <h1>
      Education journey 
    </h1> 
  </div>
  <div class="col-lg-9 title-custom">
    <div> 
        My academic journey in computer science spans a range of degrees, each building a solid foundation in the field and shaping my expertise in research and technology:  
    </div>
    <ul>
        <li>
            <b>PhD in Computer Science (2021 - 2024):</b>  
            I completed my PhD in Computer Science, specializing in External Dependencies, as part of the <a href="https://www.inria.fr/en/evref" target="_blank">EVREF team</a> at <a href="https://www.inria.fr/en/inria-centre-university-lille" target="_blank">INRIA Lille</a>.  
            My research focused on detecting and analyzing external dependencies in heterogeneous software systems, resulting in several published papers and presentations at international conferences.  
            This experience enhanced my technical expertise and reinforced my ability to independently tackle complex research challenges.  
        </li>
        <li>
            <b>Engineering Degree (2019):</b>  
            Building upon my bachelor's education, I pursued and obtained my Engineering degree in Computer Science from <a href="https://www.cnam-liban.fr" target="_blank">CNAM Lebanon</a>.  
            This advanced program deepened my knowledge in areas such as algorithms, software engineering, and database management, providing a strong technical foundation for my research career.  
        </li>
        <li>
            <b>Bachelor's Degree (2016):</b>  
            I completed my Bachelor's degree in Computer Science from <a href="https://www.cnam-liban.fr" target="_blank">CNAM Lebanon</a>.  
            This foundational program provided me with a comprehensive understanding of core computer science concepts, setting the stage for my further studies and professional growth.  
        </li> 
    </ul>  
</div>


  <div class="col-lg-3 title-custom">
    <h1 >
      Experience
    </h1>
  </div>
  <div   class="col-lg-9 title-custom">
    Over the years, I've had the opportunity to gain practical experience in various professional settings. 
    From three internships to a full-time position, I have worked with diverse teams, tackling real-world problems and honing my skills.
    These experiences have sharpened my abilities and taught me the value of collaboration and adaptability.
  </div> 

</div>

<!-- <div class="bottom-paragraph-custom">
  Feel free to browse through my website to learn more about my professional journey, explore my portfolio, and connect with me on social media. Let's embark on this exciting journey together and create something meaningful.
  <br> 
  <br>
  <br>
  <h4>Aless Hosry</h4> 
  
  </div> -->
</div>