<div class="page-container-custom">
  <div class="description-custom row">

    <div class="col-lg-3 ">
      <img src="../assets/myImage2.jpeg" class="rounded-circle ">
    </div>

    <div class="col-lg-9 title-custom d-flex ">
      <blockquote class="blockquote border-0 p-0">
        <p class="lead "> <i> <fa-icon [icon]="faQuoteLeft" class=""></fa-icon> {{ content?.quote }} </i></p>
        <p class="description-bio-custom" [innerHTML]="content?.bio"></p>
      </blockquote>
    </div>

    <div class="col-lg-3 title-custom">
      <h1>
        Experience
      </h1>
    </div>

    <div class="col-lg-9 title-custom">
      <div class="paragraph-intro">
        {{ content?.experienceIntro }}
      </div>
      <ul>
        <li *ngFor="let exp of content?.experience">
          <b>{{ exp.title }}</b>
          <div [innerHTML]="exp.description"></div>
        </li>
      </ul>
    </div>

    <div class="col-lg-3 title-custom">
      <h1>
        Education journey
      </h1>
    </div>

    <div class="col-lg-9 title-custom">
      <div class="paragraph-intro">
        {{ content?.educationIntro }}
      </div>
      <ul>
        <li *ngFor="let edu of content?.education">
          <b>{{ edu.title }}</b>
          <div [innerHTML]="edu.description"></div>
        </li>
      </ul>
    </div>

  </div>
</div>