<div class="page-container-custom">
  <mat-card class="card" *ngFor="let pub of publications">
    <mat-card-header>
      <mat-card-title>{{pub.title}}</mat-card-title>
      <mat-card-subtitle class="card-subtitle">
        {{pub.conference}} - {{pub.year}}<span *ngIf="pub.place"> - {{pub.place}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{pub.description | truncateWords:50}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <a mat-flat-button href="{{pub.link}}" target="_blank">Download</a>
    </mat-card-actions>
  </mat-card>
</div>